*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  gap: 3rem;
  padding: 2rem;
  background-color: rgb(50, 15, 83);
  color: white;
}

.search{
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.25rem;
  padding-left: 0.5rem;
  border-radius: 0.5rem;
  width: 500px;
}

.search img{
  opacity: 0.5;
}

input{
  border: none;
  font-size: 1.5rem;
}

input:focus{
  border: none;
  outline: none;
  box-shadow: none;
}


input:active{
  border: none;
  outline: none;
  box-shadow: none;
}

h2{
  font-size: 2em;
}

.card{
  background-color: rgba(128, 128, 128, 0.504);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  padding: 2em;
  border-radius: 1.5em;
}

.info-group{
  display: flex;
  gap: 0.5em;
}

h3{
  margin-bottom:2rem ;
}

.primary{
  font-size: 1.5rem;
}

.secondary-group{
  display: flex;
  gap: 2rem;
  font-size: 0.75rem;
}


.result{
  margin-top: -2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}