*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  gap: 3rem;
  padding: 2rem;
  background-color: rgb(50, 15, 83);
  color: white;
}

.search{
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.25rem;
  padding-left: 0.5rem;
  border-radius: 0.5rem;
  width: 500px;
}

.search img{
  opacity: 0.5;
}

.search img:hover{
  background-color: gray;
  border-radius: 50%;
  padding: 2px;
}

.unit{
  display: flex;
  margin-top: -1.5rem;
  gap: 2rem;
  font-size: 2rem;
}

.unit label input{
  display: none;
}

.unit label input:checked + .radio-button{
  background-color: blue;
  border: white 2px solid;
}

.radio-button{
  width: 20px;
  height: 20px;
  border: 1px black solid;
  border-radius: 50%;
  display: inline-block;
  background-color: white;
}



input[type='text']{
  border: none;
  font-size: 1.5rem;
  width: 100%;
  overflow-x: scroll;
}

input:focus{
  border: none;
  outline: none;
  box-shadow: none;
}


input:active{
  border: none;
  outline: none;
  box-shadow: none;
}

h2{
  font-size: 2em;
}

.card{
  background-color: rgba(128, 128, 128, 0.504);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  padding: 2em;
  border-radius: 1.5em;
}

.info-group{
  display: flex;
  gap: 0.5em;
}

h3{
  margin-bottom:2rem ;
}

.primary{
  font-size: 1.5rem;
}

.secondary-group{
  display: flex;
  gap: 2rem;
  font-size: 0.75rem;
}


.result{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.error{
  font-size: 2.5rem;
  color: red}

.hide{
  display: none;
}